<h3>Submit a project</h3>
<%= form_tag('/projects', method: 'post') do %>
  <div class="form-group">
    <%= label_tag :project_name %>
    <%= text_field_tag :name, nil, placeholder: 'Coder Dino', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :live_url, 'Live URL' %>
    <%= text_field_tag :live_url, nil, placeholder: 'prophetorpheus.github.io', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :github_url, 'GitHub URL' %>
    <%= text_field_tag :github_url, nil, placeholder: 'https://github.com/prophetorpheus/prophetorpheus.github.io', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= submit_tag nil, class: 'btn btn-default form-control' %>
  </div>
<% end %>
